examples/Decrypt Message.json
[{"id":"8b546f3a.134538","type":"tab","label":"Threema decrypt","disabled":false,"info":""},{"id":"c71653c9.3614f8","type":"debug","z":"8b546f3a.134538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"b90ad705.07ac98","type":"http in","z":"8b546f3a.134538","name":"","url":"/threema","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["b1dc00d0.9f7b28","fe3cd0d9.50b08"]]},{"id":"b1dc00d0.9f7b28","type":"http response","z":"8b546f3a.134538","name":"","statusCode":"","headers":{},"x":290,"y":240,"wires":[]},{"id":"fe3cd0d9.50b08","type":"json","z":"8b546f3a.134538","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":160,"wires":[["c3edf620.31283"]]},{"id":"c3edf620.31283","type":"decryptor","z":"8b546f3a.134538","senderId":"","x":440,"y":160,"wires":[["c71653c9.3614f8"]]}]