examples/Send Message.json
[{"id":"4843026a.8e9784","type":"tab","label":"Threema Send Message Example","disabled":false,"info":""},{"id":"581ae79d.82b108","type":"inject","z":"4843026a.8e9784","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":200,"wires":[["4604a666.7f104"]]},{"id":"4604a666.7f104","type":"send-message","z":"4843026a.8e9784","senderId":"","recipientId":"","message":"","x":370,"y":200,"wires":[["ad7c8438.ef8d4"]]},{"id":"ad7c8438.ef8d4","type":"debug","z":"4843026a.8e9784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":200,"wires":[]}]
